entrypoint = "index.js"
modules = ["nodejs-20", "web", "bash", "postgresql-16"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-25_05"
packages = ["tree", "nodejs"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3003

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 24678
externalPort = 5000

[[ports]]
localPort = 35021
externalPort = 4200

[[ports]]
localPort = 42785
externalPort = 3002

[[ports]]
localPort = 44143
externalPort = 6000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace/backend && npm run dev"
waitForPort = 3000

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace/frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
